<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
  </head>
  <body>
    <h2><%= currentDay%></h2>
    <ul>
      <% for (var x=0; x<=items.length; x++){ %>

      <li><%= items[x] %></li>
      <%}%>
    </ul>
    <form action="/" method="post">
      <label for="newItem">Add item:</label>
      <input type="text" name="newItem" required />
      <button type="submit">Add</button>
    </form>
    <br />
    <form action="/reset" method="post">
      <button type="submit">Delete All</button>
    </form>
  </body>
</html>
