<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="button-links">
      <button class="links-button">
        <a role="button" href="/">Daily Tasks</a>
      </button>
      <button class="links-button">
        <a role="button" href="/work">Work Tasks</a>
      </button>
    </div>

    <div class="box">
      <% items.forEach(function(items){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input
            type="checkbox"
            name="checkBox"
            value="<%= items.item%>"
            onChange="this.form.submit()"
          />
          <p><%=items.item %></p>
        </div>
      </form>

      <% }) %>

      <form class="item" action="/" method="post">
        <input
          type="text"
          name="newItem"
          placeholder="New Item"
          autocomplete="off"
          required
        />
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
    </div>

    <br />
    <form class="deleteButton" action="/reset" method="post">
      <button class="delete" type="submit">Delete All</button>
    </form>
  </body>
</html>
