<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
  </head>
  <body>
    <h1>Today is:</h1>
    <h2><%= currentDay%></h2>
    <ul>
      <% for (var x=0; x<=entryArray.length; x++){ %>
      <li><%= entryArray[x] %></li>
      <%}%>
    </ul>
    <form action="/" method="post">
      <label for="newItem">Add item:</label>
      <input type="text" name="newItem" />
      <button type="submit">Add</button>
      <button type="reset">reset</button>
    </form>
  </body>
</html>
