html {
  background-image: linear-gradient(45deg, #003e79, #8d8d8d);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 100px;
}

h1 {
  color: #fff;
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

.box {
  max-width: 400px;
  margin: auto;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #00204a;
  text-align: center;
  border-radius: 5px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #001694;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #00204a;
  color: #fff;
  font-size: 30px;
  padding: 2px;
  margin-right: 5px;
  border-width: 0;
}

.button-links {
  text-align: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.links-button {
  min-height: 50px;
  width: 199px;
  border-radius: 15px 15px 0 0;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.delete {
  min-height: 50px;
  width: 100px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  padding: 2px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #313131;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
